SciPy==1.11.4
pydantic_core==2.33.2
absl-py==2.1.0
jax==0.4.23
pyparsing==3.2.2
GitPython==3.1.45
tomli==2.2.1
decorator==5.1.1
importlib_metadata==8.5.0
requests==2.32.5
idna==3.10
urllib3==2.5.0
charset-normalizer==3.4.3
kfac-jax==0.0.5
nest-asyncio==1.6.0
pip==24.3.1
pillow==11.1.0
contextlib2==21.6.0
importlib_resources==6.4.5
matplotlib==3.9.4
typing-inspection==0.4.1
zipp==3.21.0
numpy==1.25.2
immutabledict==4.2.1
platformdirs==4.3.8
msgpack==1.1.0
opt_einsum==3.4.0
jaxlib==0.4.23
markdown-it-py==3.0.0
six==1.16.0
fsspec==2024.10.0
exceptiongroup==1.3.0
flax==0.7.2
pytest==8.4.1
distrax==0.1.5
setuptools==75.6.0
pytz==2024.1
gast==0.6.0
rich==13.9.4
click==8.1.8
tzdata==2025.2
pyscf==2.9.0
attrs==24.2.0
ml-collections==0.1.1
wandb==0.21.1
vmcnet==0.1.0
kiwisolver==1.4.7
cloudpickle==3.1.0
sentry-sdk==2.35.0
contourpy==1.3.0
gitdb==4.0.12
mdurl==0.1.2
fonttools==4.56.0
python-dateutil==2.9.0.post0
tensorstore==0.1.68
packaging==24.2
ml_dtypes==0.5.0
certifi==2025.1.31
unicodedata2==16.0.0
toolz==1.0.0
partial==1.0
cycler==0.12.1
wheel==0.45.1
fwdlap==0.1.6.dev1+gefc65dc
pydantic==2.11.7
tornado==6.4.2
dm-tree==0.1.8
chex==0.1.82
h5py==3.13.0
pluggy==1.6.0
etils==1.5.2
munkres==1.1.4
tensorflow-probability==0.25.0
typing_extensions==4.12.2
PyYAML==6.0.2
smmap==5.0.2
protobuf==5.28.3
orbax-checkpoint==0.5.16
iniconfig==2.1.0
annotated-types==0.7.0
eval_type_backport==0.2.2
six==1.17.0
Pygments==2.18.0
importlib_resources==6.5.2
optax==0.1.7
